$color-body: #f5f5f5;
$color-background: #fff;
$color-text-dark: #222;
$color-text-gray: #777;
$color-text-light: #fff;
$color-primary: #f2bb2d;
$color-input: #e0e0e0;
$color-input-text: #555;
$color-danger: #f65a38;
$color-whatsapp: #25d366;

$shadow-card: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

//   box-shadow: 41px 41px 42px #e6e6e6, -41px -41px 42px #ffffff;

//   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
//   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
//     rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
//   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
//     rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
